  <div class="container">
    <h1><%= I18n.t("issues.index.title") %></h1>
    <div ng-controller="IssuesCtrl as list">
      <ul>
        <li ng-repeat="issue in list.issues">
          <spam class="issue-title" ><b>{{issue.title}}</b></spam>
          <button class="vote-button positive-button" ng-click="list.PositiveVote(issue.id)">+</button> <b class="positive-count">{{issue.positive_votes}}</b>
          <button class="vote-button negative-button" ng-click="list.NegativeVote(issue.id)">-</button> <b class="negative-count">{{issue.negative_votes}}</b>
           <br>
          {{issue.description}} <br>
        </li>
      </ul>
    </div>
  </div>
