/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.vote-button {
  border: none;
  color: white;
  padding: 1px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.vote-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.vote-button:active {
  transition: all 0.8s;

}

.positive-button {
  background-color: #51d656;
}

.negative-button {
  background-color: #f44336;
}

.issue-title{
  padding: 1px 24px;
}

.positive-count{
  padding: 1px 10px;
}

.negative-count{
  color: #f44336;
  padding: 1px 10px;
}

.disable-button {
  opacity: 0.6;
  cursor: not-allowed;
}